<div class="wrap">
    <div class="header">
        <app-header></app-header>
        <div class="main">
            <div class="content">
                <!-- <app-page-home></app-page-home> -->
                <!-- <app-page-contact></app-page-contact> -->
                <!-- <app-page-product-detail></app-page-product-detail> -->
                <!-- <app-page-checkout></app-page-checkout> -->
                <router-outlet></router-outlet>
            </div>
          </div>
        
    </div>
    <app-footer></app-footer>
  


