<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title text-center">Chi tiết về sản phẩm</h4>
                </div>
                <div class="w-100 my-3">
                    <div class="d-flex px-4">
                        <div class="w-40">
                            <h6>Hình ảnh</h6>
                            <hr>
                            <div class="d-flex justify-content-center form-group">
                                <img [src]="imagePhone" class="img-responsive" width="50%" alt="Image ">
                            </div>
                            <div class="d-flex justify-content-center form-group">
                                <img src="{{tp.tp_img1}}" (mouseover)="showImage($event)" class="img-responsive" width="10%" alt="Image ">
                                <img src="{{tp.tp_img2}}" (mouseover)="showImage($event)" class="img-responsive" width="10%" alt="Image ">
                                <img src="{{tp.tp_img3}}" (mouseover)="showImage($event)" class="img-responsive" width="10%" alt="Image ">
                                <img src="{{tp.tp_img4}}" (mouseover)="showImage($event)" class="img-responsive" width="10%" alt="Image ">
                                <img src="{{tp.tp_img5}}" (mouseover)="showImage($event)" class="img-responsive" width="10%" alt="Image ">
                            </div>
                            <hr>
                            <div class="card">
                                <div class="card-header card-header-info">
                                    <h4 class="card-title text-center">Số lượng</h4>
                                </div>
                                <div class="card-body table-responsive">
                                    <table class="table table-hover">
                                        <thead class="text-info">
                                            <th>Mã</th>
                                            <th>Màu</th>
                                            <th>Trạng thái</th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of listPhone | paginate: { itemsPerPage: 5, currentPage: p }">
                                                <td>#p{{item.p_id}}</td>
                                                <td>{{item.p_color}}</td>
                                                <td>
                                                    {{item.p_status}}
                                                </td>
                                                <td>
                                                    <button mat-raised-button (click)="deletePhone(item.p_id)" type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                            <i class="material-icons">close</i>
                          </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="d-flex justify-content-center">
                                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <form class="d-flex" #pForm="ngForm" (submit)="addPhone(pForm)">
                                <button type="submit" class="btn btn-info">Thêm máy vào kho</button>
                                <input type="text" class=" ml-5 mt-2 form-control" [(ngModel)]="p_color" name="p_color" placeholder="Nhập màu">
                            </form>
                        </div>
                        <div class=" w-60 ml-5 ">
                            <h6>Thông tin sản phẩm</h6>
                            <hr>
                            <div class="d-flex form-group ">
                                <label for="usr "> Tên máy:</label>
                                <p class="text-info ">{{tp.tp_name}}</p>
                            </div>
                            <div class="d-flex form-group ">
                                <label for="usr "> Nhà sản xuất:</label>
                                <p class="text-info ">{{tp.pc_name}}</p>
                            </div>
                            <div class="d-flex form-group ">
                                <label for="usr " style="white-space: nowrap; ">Mô tả:</label>
                                <p class="text-info ">{{tp.tp_describe}}</p>
                            </div>
                            <div class="d-flex form-group ">
                                <label for="usr ">Giá:</label>
                                <p class="text-info ">{{getFormatNumber(tp.tp_price)}} đồng</p>
                            </div>
                            <div class="d-flex form-group ">
                                <label for="usr "> Khuyến mãi:</label>
                                <p class="text-info ">{{tp.tp_discount}} %</p>
                            </div>
                            <div class="d-flex form-group ">
                                <label for="usr "> Màn hình:</label>
                                <p class="text-info ">{{tp.tp_screen}}</p>
                            </div>
                            <div class="d-flex form-group ">
                                <label for="usr "> Hệ điều hành:</label>
                                <p class="text-info ">{{tp.tp_operating_system}}</p>
                            </div>
                            <div class="d-flex form-group ">
                                <label for="usr "> Camera sau:</label>
                                <p class="text-info ">{{tp.tp_rear_camera}}</p>
                            </div>
                            <div class="d-flex form-group ">
                                <label for="usr "> Camera trước:</label>
                                <p class="text-info ">{{tp.tp_front_camera}}</p>
                            </div>
                            <div class="d-flex form-group ">
                                <label for="usr "> CPU:</label>
                                <p class="text-info ">{{tp.tp_CPU}}</p>
                            </div>

                            <div class="d-flex form-group ">
                                <label for="usr "> RAM:</label>
                                <p class="text-info ">{{tp.tp_RAM}}</p>
                            </div>
                            <div class="d-flex form-group ">
                                <label for="usr "> Bộ nhớ:</label>
                                <p class="text-info ">{{tp.tp_memory}}</p>
                            </div>
                            <div class="d-flex form-group ">
                                <label for="usr "> Dung lượng pin:</label>
                                <p class="text-info ">{{tp.tp_battery}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>