<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title text-center">News Technology</h4>
                </div>
                <div class="d-flex mt-3">
                    <input class="form-control w-25 ml-3" id="myInput" type="text" placeholder="Search..">
                    <a routerLink="/news/create-news" class="ml-auto mr-3"><button type="button"
                            class="btn btn-info">Add News</button></a>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-info">
                            <th>ID</th>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Creator</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </thead>
                        <tbody id="myTable">
                            <tr *ngFor="let item of Items | paginate: { itemsPerPage: 5, currentPage: p }">
                                <td>{{item.id_news}}</td>
                                <td>{{item.title.slice(0, 50)}}...</td>
                                <td>{{item.date_created}}</td>
                                <td>{{item.fullname}}</td>
                                <td>
                                    <a [routerLink]="['/news/show-news', item.id_news]">
                                        <button mat-raised-button type="button" matTooltip="Show" [matTooltipPosition]="'above'" class="btn btn-info btn-link btn-sm btn-just-icon">
                                            <i class="fas fa-eye mb-3"></i>
                                        </button>
                                    </a>
                                </td>
                                <td>
                                    <button mat-raised-button (click)="deleteNews(item.id_news)" type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>