/* You can add global styles to this file, and also import other style files */

.w-100 {
    width: 100%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-20 {
    width: 20%;
}

.w-10 {
    width: 10%;
}

.h-100 {
    height: 100%;
}

.h-50p {
    height: 50px;
}