<div class="section group">
  <div class="col_1_of_3 span_1_of_3">
    <img style="width: 300px;height: 350px;" src="../../../assets/images/xh.jpg" alt="">
    <div class="tskt"><span class="tskt1">Name:</span><span class="tskt2">Doan Xuan Hung</span></div>
    <div class="tskt"><span class="tskt1">MSSV:</span><span class="tskt2">15110219</span></div>
    <div class="tskt"><span class="tskt1">Email:</span><span class="tskt2">Xuanhung@gmail.com</span></div>
    <div class="tskt"><span class="tskt1">Address:</span><span class="tskt2">Quang Binh,Viet Nam</span></div>
    <div class="tskt"><span class="tskt1">Phone:</span><span class="tskt2">012 123 4567</span></div>
  </div>
  <div class="col_1_of_3 span_1_of_3">
    <img style="width: 300px;height: 350px;" src="../../../assets/images/mk.jpg" alt="">
    <div class="tskt"><span class="tskt1">Name:</span><span class="tskt2">Pham Minh Ke</span></div>
    <div class="tskt"><span class="tskt1">MSSV:</span><span class="tskt2">15110226</span></div>
    <div class="tskt"><span class="tskt1">Email:</span><span class="tskt2">minhke97@gmail.com</span></div>
    <div class="tskt"><span class="tskt1">Address:</span><span class="tskt2">Quang Ngai,Viet Nam</span></div>
    <div class="tskt"><span class="tskt1">Phone:</span><span class="tskt2">034 433 7163</span></div>
  </div>
  <div class="col_1_of_3 span_1_of_3">
    <h3>HCMC UNIVERSITY OF TECHNOLOGY AND EDUCATION</h3>
    <p>Trường Đại học Sư phạm Kỹ thuật Thành phố Hồ Chí Minh là một trường đại học đa ngành tại Việt Nam, với thế mạnh về đạo tạo kỹ thuật, được đánh giá là một trong những trường đại học đầu ngành về đào tạo khối ngành kỹ thuật tại miền Nam. Nổi bật với phòng nghiên cứu và thực hành mở cửa 24/24</p>
      <div class="list">
         <ul>
           <li>Địa chỉ:<a href="#"> 1 Võ Văn Ngân, Linh Chiểu, Thủ Đức, Hồ Chí Minh</a></li>
           <li>Thành viên của:<a href="#"> Bộ Giáo dục và Đào tạo</a></li>
           <li>Hiệu trưởng:<a href="#"> PGS. TS. Đỗ Văn Dũng</a></li>
           <li>Thành lập:<a href="#"> 5 tháng 10, 1962</a></li>
           <li>Điện thoại:<a href="#"> 028 3896 8641</a></li>
         </ul>
     </div>
     <p>Trường là một trong 6 Đại học Sư phạm Kỹ thuật của cả nước - đào tạo kỹ thuật lấy ứng dụng làm trọng tâm để giảng dạy, có chức năng đào tạo kỹ sư công nghệ và giáo viên kỹ thuật. Đồng thời cũng là trung tâm nghiên cứu khoa học và chuyển giao công nghệ lớn của miền nam Việt Nam.</p>
  </div>
</div>	