<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title text-center">Infor Account</h4>
                </div>
                <div class="w-100 my-3">
                    <div class="d-flex px-4">
                        <div class="w-40 mr-2">
                            <h6>Personal Info</h6>
                            <hr>
                            <img src="../../../assets/image/avatar/nghe.jpg " class="img-responsive w-90 " alt="Image ">
                            <div class="form-group mt-3">
                                <label for="usr "><i class="fas fa-user" style="font-size:20px" ></i> Full Name:</label>
                            </div>
                            <div class="form-group ">
                                <label for="usr "><i class="fas fa-birthday-cake" style="font-size:20px"></i> Birthday:</label>
                            </div>
                            <div class="form-group ">
                                <label for="usr "><i class="fas fa-dollar-sign" style="font-size:20px"></i> Salary:</label>
                            </div>
                        </div>
                        <div class="w-60 ml-5 ">
                            <h6>Contact Info</h6>
                            <hr>
                            <div class="form-group ">
                                <label for="usr "><i class="fas fa-phone-volume" style="font-size:20px" ></i> Phone Number:</label>
                            </div>
                            <div class="form-group ">
                                <label for="usr "><i class="fas fa-envelope" style="font-size:20px"></i> Email:</label>
                            </div>
                            <div class="form-group ">
                                <label for="usr "><i class="fas fa-map-marker-alt" style="font-size:20px"></i> Address:</label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center ">
                        <button type="button " class="btn btn-warning rounded ml-2 ">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>