<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title text-center">Manage Employees</h4>
                </div>
                <div class="d-flex mt-3">
                    <input class="form-control w-25 ml-3" id="myInput" type="text" placeholder="Search..">
                    <a routerLink="/account/create-account" class="ml-auto mr-3"><button type="button"
                            class="btn btn-info">Create Account</button></a>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-info">
                            <th>ID</th>
                            <th>FullName</th>
                            <th>Role</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </thead>
                        <tbody id="myTable">
                            <tr *ngFor="let item of Items">
                                <td>{{item.id}}</td>
                                <td>{{item.fullname}}</td>
                                <td>{{item.type_role}}</td>
                                <td>
                                    <a [routerLink]="['/account/show-account',item.id]">
                                        <button mat-raised-button type="button" matTooltip="Show"
                                            [matTooltipPosition]="'above'"
                                            class="btn btn-info btn-link btn-sm btn-just-icon">
                                            <i class="fas fa-eye mb-3"></i>
                                        </button>
                                    </a>
                                </td>
                                <td>
                                    <a [routerLink]="['/account/edit-account',item.id]">
                                        <button mat-raised-button type="button" matTooltip="Edit"
                                            [matTooltipPosition]="'above'"
                                            class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">edit</i>
                                        </button>
                                    </a>
                                </td>
                                <td>
                                    <button mat-raised-button (click)="deleteAccount(item.id)" type="button"
                                        matTooltip="Remove" [matTooltipPosition]="'above'"
                                        class="btn btn-danger btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>