<div id="slider">
    <div id="mover">
        <div id="slide-1" class="slide">
            <div class="slider-img">
                <a href="preview.html"><img src="../../../assets/images/1SamsungGalaxyS10.jpg" alt="learn more" /></a>
            </div>
            <div class="slider-text">
                <h1>Giải nhiệt<br><span>SALE</span></h1>
                <h2>Trên 20% OFF</h2>
                <div class="features_list">
                    <h4>Siêu khuyến mãi cực khủng cùng HK Store</h4>
                </div>
                <a href="preview.html" class="button">Mua ngay</a>
            </div>
        </div>
        <div class="slide">
            <div class="slider-text">
                <h1>Bùng nổ<br><span>Sale</span></h1>
                <h2>Trên 40%</h2>
                <div class="features_list">
                    <h4>Nhận biết thêm về các dịch vụ đáng nhớ của chúng tôi</h4>
                </div>
                <a href="preview.html" class="button">Mua ngay</a>
            </div>
            <div class="slider-img">
                <a href="preview.html"><img src="../../../assets/images/ssnote91.jpg" alt="learn more" /></a>
            </div>
        </div>
        <div class="slide">
            <div class="slider-img" style="margin-left: 30px;">
                <a href="preview.html"><img src="../../../assets/images/ssA305.jpg" alt="learn more" /></a>
            </div>
            <div class="slider-text">
                <h1>Cực phẩm<br><span>SALE</span></h1>
                <h2>Trên 10% OFF</h2>
                <div class="features_list">
                    <h4>Tưng bừng khuyến mãi mùa hè HK Store</h4>
                </div>
                <a href="preview.html" class="button">Mua ngay</a>
            </div>
        </div>
    </div>
</div>