<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title text-center">View News</h4>
                </div>
                <div class="card-body table-responsive">
                    <div class="d-flex justify-content-center form-group">
                        <h3 class="text-info">{{news.title}}</h3>
                    </div>
                    <div class="d-flex justify-content-center">
                        <img src="{{news.image}}" width="50%" class="img-responsive" alt="">
                    </div>
                    <div class="d-flex form-group">
                        <p class="text-info mx-5">{{news.content}}</p>
                    </div>
                    <div class="d-flex justify-content-end form-group">
                        <p class="mr-5">{{news.date_created}} {{news.fullname}}</p>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <a [routerLink]="['/news/edit-news', news.id_news]">
                            <button type=" button " class="btn btn-success rounded mr-2 ">Edit News</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>