<div class="footer">
    <div class="wrap">
        <div class="section group">
            <div class="col_1_of_4 span_1_of_4">
                <h4>Thông tin</h4>
                <ul>
                    <li><a href="about.html">Về chúng tôi</a></li>
                    <li><a href="contact.html">Địa chỉ</a></li>
                    <li><a href="contact.html">Liên hệ với chúng tôi</a></li>

                </ul>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h4>Chính sách</h4>
                <ul>
                    <li><a href="contact.html">Chăm sóc khách hàng</a></li>
                    <li><a href="#">Chính sách hỗ trợ</a></li>
                    <li><a href="#">Điều khoản</a></li>
                </ul>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h4>Khách hàng</h4>
                <ul>
                    <li><a href="#">Giỏ hàng của bạn</a></li>
                    <li><a href="delivery.html">Mua hàng và hoàn trả</a></li>
                    <li><a href="contact.html">Trợ giúp</a></li>
                </ul>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h4>Liên hệ</h4>
                <ul>
                    <li><span>+91-123-456789</span></li>
                </ul>
                <ul class="social-icons">
                    <li>
                        <a href="#" target="_blank"><img src="../../../assets/images/facebook.png" alt="" /></a>
                    </li>
                    <li>
                        <a href="#" target="_blank"><img src="../../../assets/images/twitter.png" alt="" /></a>
                    </li>
                    <li>
                        <a href="#" target="_blank"><img src="../../../assets/images/skype.png" alt="" /> </a>
                    </li>
                    <li>
                        <a href="#" target="_blank"> <img src="../../../assets/images/linkedin.png" alt="" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copy_right">
        <p>
            © 2019 HK Phone Store Ltd. All rights reserved
        </p>
    </div>
</div>