<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title text-center">Create Account</h4>
                </div>
                <div class="card-body table-responsive">
                    <form #accountForm="ngForm" (submit)="add_account(accountForm)">
                        <div class="d-flex">
                            <div class="p-2 w-50">
                                <div class="d-flex">
                                    <div class="mr-5">
                                        <label for="usr">Hình đại diện:</label><br>
                                        <input type="file" class="rounded bg-info" [(ngModel)]="image" name="image" (change)="handleFileSelectImgAvarta($event)">
                                    </div>
                                    <img [src]="imgAvatar || imageDefault" width="33%" height="33%" class="img-responsive mt-2" alt="Image">
                                </div>
                                <div class="form-group" style="margin-top: 13px">
                                    <label for="usr">Email:</label>
                                    <input type="text" class="form-control" [(ngModel)]="email" name="email" placeholder="Nhập email">
                                </div>

                                <div class="form-group">
                                    <label for="usr">Mật khẩu:</label>
                                    <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Nhập mật khẩu">
                                </div>
                                <div class="form-group">
                                    <label for="usr">Xác nhận mật khẩu:</label>
                                    <input type="password" class="form-control" [(ngModel)]="re_password" name="re_password" placeholder="Xác nhận mật khẩu">
                                </div>
                            </div>
                            <div class="p-2 w-50">

                                <div class="form-group">
                                    <label for="usr">Họ tên:</label>
                                    <input type="text" class="form-control" [(ngModel)]="fullname" name="fullname" placeholder="Nhập họ tên">
                                </div>
                                <div class="form-group">
                                    <label for="usr">Số điện thoại:</label>
                                    <input type="text" class="form-control" [(ngModel)]="phone" name="phone" placeholder="Nhập số điện thoại">
                                </div>
                                <div class="form-group">
                                    <label for="usr">Địa chỉ:</label>
                                    <input type="text" class="form-control" [(ngModel)]="address" name="address" placeholder="Nhập địa chỉ">
                                </div>
                                <div class="form-group">
                                    <label for="usr">Ngày sinh:</label>
                                    <input type="date" class="form-control" [(ngModel)]="birthday" name="birthday" placeholder="Chọn ngày sinh">
                                </div>
                                <div class="form-group">
                                    <label for="usr">Lương:</label>
                                    <input type="text" class="form-control" [(ngModel)]="salary" name="salary" placeholder="Mức lương">
                                </div>
                                <div class="form-group">
                                    <label for="usr">Nghiệp vụ:</label>
                                    <select class="form-control" [(ngModel)]="selectedValue" name="id_role">
                                        <option *ngFor="let item of roles" [value]="item.id_role">{{item.type_role}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-success rounded mr-2">Tạo</button>
                            <button type="reset" class="btn btn-info rounded mr-2">Hủy</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>