<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-users-cog"></i>
                        </div>
                        <p class="card-category">Admin</p>
                        <h3 class="card-title">2/50 </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            Number of managers store
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-users"></i>
                        </div>
                        <p class="card-category">Employees</p>
                        <h3 class="card-title">48/50 </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            Number of employees store
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-mobile-alt"></i>
                        </div>
                        <p class="card-category">Phone</p>
                        <h3 class="card-title">7500</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            Number of phones available
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-receipt"></i>
                        </div>
                        <p class="card-category">Bills</p>
                        <h3 class="card-title">25</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            Number of bills not checked
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <app-phone-chart></app-phone-chart>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <app-phone-sold-chart></app-phone-sold-chart>
            </div>
            <div class="col-md-6">
                <app-phone-available-chart></app-phone-available-chart>
            </div>
        </div>
    </div>
</div>