<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title text-center">Info Bill #{{id}}</h4>
                </div>
                <div class="w-100 my-3">
                    <div class="d-flex px-4">
                        <div class="w-60">
                            <h6>Status</h6>
                            <hr>
                            <div class="d-flex form-group">
                                <label for="usr "> Cofirm Bill:</label>
                                <p class="text-info">{{isCofirmInfo}}</p>
                                <button type="button" (click)="CofirmInfoBill()" class="btn btn-info ml-auto">Cofirm</button>
                            </div>
                            <hr>
                            <div class="d-flex form-group">
                                <label for="usr "> Cofirm Shipped:</label>
                                <p class="text-info">{{isCofirmShip}}</p>
                                <button type="button" (click)="CofirmShipped()" class="btn btn-info ml-auto">Cofirm</button>
                            </div>
                            <hr>
                            <div class="card">
                                <div class="card-header card-header-info">
                                    <h4 class="card-title text-center">List Order</h4>
                                </div>
                                <div class="card-body table-responsive">
                                    <table class="table table-hover">
                                        <thead class="text-info">
                                            <th>id_P</th>
                                            <th>Phone</th>
                                            <th>Company</th>
                                            <th>Color</th>
                                            <th>Price</th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of list_order | paginate: { itemsPerPage: 5, currentPage: p }">
                                                <td>#p{{item.p_id}}</td>
                                                <td>{{item.tp_name}}</td>
                                                <td>{{item.pc_name}}</td>
                                                <td>{{item.p_color}}</td>
                                                <td>{{item.tp_price}}</td>
                                                <td>
                                                    <button mat-raised-button (click)="deletePhoneOrder(item.p_id)" type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="d-flex justify-content-center">
                                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex flex-row-reverse form-group">
                                <b class="total-bill ml-5"> Total Bill: {{info_bill.total_price}}</b>
                            </div>
                        </div>
                        <div class="w-40 ml-5">
                            <h6>Customer Info</h6>
                            <hr>
                            <div class="d-flex form-group">
                                <label for="usr "> FullName:</label>
                                <p class="text-info">{{info_bill.fullname}}</p>
                            </div>
                            <div class="d-flex form-group">
                                <label for="usr "> Address:</label>
                                <p class="text-info">{{info_bill.address}}</p>
                            </div>
                            <div class="d-flex form-group">
                                <label for="usr "> Phone:</label>
                                <p class="text-info">{{info_bill.phone}}</p>
                            </div>
                            <div class="d-flex form-group">
                                <label for="usr ">Email:</label>
                                <p class="text-info">{{info_bill.gmail}}</p>
                            </div>
                            <div class="d-flex form-group">
                                <label for="usr "> Date Order:</label>
                                <p class="text-info">{{info_bill.date_order}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>