.img2{
    width: 19%;
    height: 50px;
}
#img1{
    height: 250px;
}
.tskt{
    padding-top:10px; 
    padding-bottom:10px;
    border-bottom: 1px solid #E6E6E6;
}
.tskt1{
    color:#A4A4A4;
    font-size: 15px;
}
.tskt2{
    color:#FE2E2E;
    font-size: 17px;
}