<div class="content_top">
    <div class="heading" style="padding-left:30px; padding-top: 5px">
        <div>
            <img style="width: 70px; height: 60px;float: left;" src="{{phonecompany.pc_logo}}">
            <!-- <img style="width: 70px; height: 60px;float: left;" src="../../../assets/images/{{phonecompany.pc_logo}}"> -->
        </div>
    </div>
    <div style="width: 100%;text-align: center;padding-top: 15px; ">
        <label style="margin-right: 30px;color:red">Chọn mức giá :</label>
        <a routerLink="/category/{{idCate}}/0"><input class="btnsearch" type="button" value="Tất cả"></a>
        <a routerLink="/category/{{idCate}}/1"><input class="btnsearch" type="button" value="Dưới 2Tr"></a>
        <a routerLink="/category/{{idCate}}/2"><input class="btnsearch" type="button" value="2Tr-6Tr"></a>
        <a routerLink="/category/{{idCate}}/3"><input class="btnsearch" type="button" value="6Tr-10Tr"></a>
        <a routerLink="/category/{{idCate}}/4"><input class="btnsearch" type="button" value="10Tr-15Tr"></a>
        <a routerLink="/category/{{idCate}}/5"><input class="btnsearch" type="button" value="15Tr-20Tr"></a>
        <a routerLink="/category/{{idCate}}/6"><input class="btnsearch" type="button" value="Trên 20Tr"></a>
    </div>
    <br>

    <div class="clear"></div>
</div>
<hr>
<div class="section group">
    <div class="grid_1_of_4 images_1_of_4" *ngFor="let tp of typephones  | paginate: { itemsPerPage: 12, currentPage: pageActual }">
        <a href="#" routerLink="/product/{{tp.tp_id}}">
            <!-- <img src="../../../assets/images/{{tp.tp_img1}}" alt="" /> -->
            <img src="{{tp.tp_img1}}" alt="" />
        </a>
        <h2>{{tp.tp_name}} </h2>
        <!-- <img *ngIf="tp.tp_discount!=0" src="../../../assets/images/iconsale.jpg" style="width: 50px;height: 50px;" alt="">
      <img *ngIf="tp.tp_discount==0" src="../../../assets/images/blank.jpg" style="width: 50px;height: 50px;" alt=""> -->
        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">{{getFormatNumber(tp.tp_price-tp.tp_price*tp.tp_discount/100)}} vnđ</span></p>
            </div>
            <div class="add-cart">
                <h4><a routerLink="/product/{{tp.tp_id}}">Thêm vào Giỏ hàng</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div><br><br>
<div style="width: 100%;text-align: center">
    <pagination-controls (pageChange)="pageActual=$event"></pagination-controls>
</div>