<ul>
    <h3>Danh mục điện thoại</h3>
    <li *ngFor="let pc of phonecompanies">
        <a href="#" routerLink="/category/{{pc.pc_id}}">{{pc.pc_name}}</a>
    </li>
    <!-- <li><a href="#" routerLink="/category/{{1}}">Desktop</a></li>
    <li><a href="#" routerLink="/category/{{1}}">Laptop</a></li>
    <li><a href="#" routerLink="/category/{{1}}">Accessories</a></li>
    <li><a href="#" routerLink="/category/{{1}}">Software</a></li>
    <li><a href="#" routerLink="/category/{{1}}">Sports &amp; Fitness</a></li>
    <li><a href="#" routerLink="/category/{{1}}">Footwear</a></li>
    <li><a href="#" routerLink="/category/{{1}}">Jewellery</a></li>
    <li><a href="#" routerLink="/category/{{1}}">Clothing</a></li>
    <li><a href="#" routerLink="/category/{{1}}">Home Decor &amp; Kitchen</a></li>
    <li><a href="#" routerLink="/category/{{1}}">Beauty &amp; Healthcare</a></li>
    <li><a href="#" routerLink="/category/{{1}}">Toys, Kids &amp; Babies</a></li> -->
</ul>