<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title text-center">Thông tin đơn hàng #{{id}}</h4>
                </div>
                <div class="w-100 my-3">
                    <div class="d-flex px-4">
                        <div class="w-60">
                            <h6>Trạng thái</h6>
                            <hr>
                            <div class="d-flex form-group">
                                <label for="usr "> Xác nhận thông tin đơn hàng:</label>
                                <p class="text-info">{{isCofirmInfo}}</p>
                                <button type="button" (click)="CofirmInfoBill()" class="btn btn-info ml-auto">Xác nhận</button>
                            </div>
                            <hr>
                            <div class="d-flex form-group">
                                <label for="usr "> Xác nhận giao hàng:</label>
                                <p class="text-info">{{isCofirmShip}}</p>
                                <button type="button" (click)="CofirmShipped()" class="btn btn-info ml-auto">Xác nhận</button>
                            </div>
                            <hr>
                            <div class="card">
                                <div class="card-header card-header-info">
                                    <h4 class="card-title text-center">Danh sách sản phẩm</h4>
                                </div>
                                <div class="card-body table-responsive">
                                    <table class="table table-hover">
                                        <thead class="text-info">
                                            <th>Mã</th>
                                            <th>Máy</th>
                                            <th>Nhà sản xuất</th>
                                            <th>Màu</th>
                                            <th>Giá</th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of list_order | paginate: { itemsPerPage: 5, currentPage: p }">
                                                <td>#p{{item.p_id}}</td>
                                                <td>{{item.tp_name}}</td>
                                                <td>{{item.pc_name}}</td>
                                                <td>{{item.p_color}}</td>
                                                <td>{{getFormatNumber(item.tp_price) }} vnđ</td>
                                                <td>
                                                    <button mat-raised-button (click)="deletePhoneOrder(item.p_id)" type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="d-flex justify-content-center">
                                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex flex-row-reverse form-group">
                                <b class="total-bill ml-5"> Tổng hóa đơn: {{getFormatNumber(info_bill.total_price) }} vnđ</b>
                            </div>
                        </div>
                        <div class="w-40 ml-5">
                            <h6>Thông tin khách hàng</h6>
                            <hr>
                            <div class="d-flex form-group">
                                <label for="usr "> Họ tên:</label>
                                <p class="text-info">{{info_bill.fullname}}</p>
                            </div>
                            <div class="d-flex form-group">
                                <label for="usr "> Địa chỉ:</label>
                                <p class="text-info">{{info_bill.address}}</p>
                            </div>
                            <div class="d-flex form-group">
                                <label for="usr "> Số điện thoại:</label>
                                <p class="text-info">{{info_bill.phone}}</p>
                            </div>
                            <div class="d-flex form-group">
                                <label for="usr ">Email:</label>
                                <p class="text-info">{{info_bill.gmail}}</p>
                            </div>
                            <div class="d-flex form-group">
                                <label for="usr "> Ngày đặt hàng:</label>
                                <p class="text-info">{{info_bill.date_order}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>